<div class="ui-inputgroup sc-search-group">
  <span class="ui-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="keyword"  size="50">
    <label for="float-input">Search for artists, bands, tracks</label>
  </span>
  <button pButton type="button" icon="pi pi-search" (click)="onSearchButtonClick()" [disabled]="!keyword"></button>
  <button pButton type="button" icon="pi pi-angle-double-right"(click)="onNextButtonClick()" [disabled]="!next_url || !keyword"></button>
</div>

<div class="sc-search-result-container">
  <ul *ngIf="!noResults">
    <li *ngFor="let result of searchResults; let i = index">
      <img  *ngIf="result.artwork_url" src="{{result.artwork_url}}" class="sc-search-result-artwork" />
      {{ result.title }}
    </li>
  </ul>
  <div *ngIf="noResults">There is no results found.</div>
</div>
