.sc-search-group {
  margin-top: 30px;
}

.sc-search-result-container {
  margin-top: 20px;
  li {
    clear: both;
  }
  .sc-search-result-artwork {
    width: 30px;
    margin: 5px 0 5px 10px;
    vertical-align: middle;
  }
}

