<div id="app-container">
  <div>
    <h1>
      {{ title }}
    </h1>
  </div>
  <ul>
    <li>
      Type a keyword for search.
    </li>
    <li>
      Press search button for get the first 5 results.
    </li>
    <li>
      Press next button for search more (if there is more).
    </li>
  </ul>
  <app-sound-cloud-search limit="5"></app-sound-cloud-search>
</div>
<!--<router-outlet></router-outlet>-->
